/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

@font-face {
  font-family: 'Inkfree';
  src: url(Font/Inkfree.ttf) format('truetype');
}

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  /*===== Colores =====*/
  /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
  /* HSL color mode */
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  /* --linear-gradient-2: linear-gradient( hsla(262, 83%, 58%), hsla(0, 72%, 51%)); */
  --linear-gradient-2: linear-gradient( rgb(124, 59, 237),rgb(220, 40, 40));

  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: '';
  width: 45px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  /* background-color: #fff; */
  /* box-shadow: 1px 5px 7px rgba(146, 161, 176, 0.15); */
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.7px);
  -webkit-backdrop-filter: blur(8.7px);
  border: 1px solid rgba(0, 0, 0, 0.1);
}





/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: 'Fira Code', monospace;
  /* font-weight: var(--font-semi); */
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}
.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  position: relative;
  color: #fff;
}
.nav__link:hover {
  position: relative;
}
.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.nav__logo {
  color: var(--second-color);
}
.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
/*=== Show menu ===*/
.show {
  right: 0;
}





/*===== HOME =====*/
.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
}
.home__data {
  align-self: center;

}
h1{
  text-shadow: 2px 2px 8px gray;
}
.home__title {
  font-size: var(--big-font-size);
  
  margin-bottom: 1px;
  
}
.home__title-color {
  color: var(--first-color);
 
}
/* .home__social {
  display: flex;
  flex-direction: column;
} */

.home__social {
  padding-top: 0;
  /* padding-bottom: 2.5rem; */
  flex-direction: row;
  align-self: flex-end;
  
}
.home__social-icon {
  width: max-content;
  margin-top: 1rem;
  /* margin-bottom: var(--mb-2); */
  font-size: 2rem;
  color: var(--second-color);
  padding-right: 30px;
}
.home__social-icon:hover {
  color: var(--first-color);
}
@media screen and (max-width: 575px) {
  .home__social-icon {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .home__social-icon {
    font-size: 1.8rem;
  }
}
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
}
.home__blob {
  fill: var(--first-color);
}
.home__blob-img {
  width: 360px;
}





/* ===== Upper Contact BUTTON ===== */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;

  margin-top: var(--mb-6);
}
.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}





/* ===== ABOUT =====*/
.about__container {
  row-gap: 2rem;
  text-align: center;
}
.about__subtitle {
  margin-bottom: var(--mb-2);
}
.about__line{
  /* text-align: center; */
  font-family: 'Nanum Pen Script';
  font-size: 29px;
  text-shadow: 3px 2px 8px gray;
}
.about__img {
  justify-self: center;
}
.about__img img {
  width: 200px;
  border-radius: .7rem;
}





/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
  text-align: center;
}
.skills__subtitle {
  margin-bottom: var(--mb-2);
}
.cloud_icon{ /* Cloud */
  font-size: 1.3rem;
}
.skills__text {
  margin-bottom: var(--mb-4);
  font-family: 'Nanum Pen Script';
  /* font-family: 'Loved by the King'; */
  font-size: 2rem;
  text-shadow: 3px 2px 8px gray;
}
.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0px 25px 25px rgba(14, 36, 49, 0.15);
}
.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  /* color: var(--first-color); */
  margin-bottom: 2px;
}
.skills__names {
  display: flex;
  align-items: center;
}
.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}
.skills__java { /* Percentage */
  width: 100%; /* Change this Value for percentage */
}
.skills__python {
  width: 100%;
}
.skills__html {
  width: 100%;
}
.skills__git {
  width: 100%;
}
.skills__firebase {
  width: 100%;
}
.skills__figma {
  width: 100%;
}
.skills__img { 
  border-radius: .5rem;
}





/* ===== CERTIFICATE =====*/
.work__container {
  row-gap: 2rem;
}
.certi_p{
  text-align: center;
  font-family: 'Nanum Pen Script';
  font-size: 2rem;
  text-shadow: 3px 2px 8px gray;
}
.work__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  overflow: hidden;
}
.work__img:hover{
  box-shadow: 0px 1px 25px var(--first-color);
}
.work__img img {
  transition: 1s;
}
.work__img img:hover {
  transform: scale(1.1);
}





/* ===== Discord & Guest Area =====*/
.section-ajay {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: 6rem;
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-ajay:hover{
  text-shadow: 2px 2px 20px gray;
}
.section-ajay::after {
  position: absolute;
  content: '';
  width: 10%;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 90%;
  background-color: var(--first-color);
}







/* ===== CONTACT =====*/
.section-title_1 { /* Contact with me font */
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title_1::after { /* Contact with me font */
  position: absolute;
  content: '';
  width: 15%;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 90%;
  background-color: var(--first-color);
}
@media screen and (max-width: 540px) {
  .section-title_1::after{
    width: 25%;
  }
}
.message{ /* After submiting the pop message */
  color: red;
  padding-bottom: 10px;
  margin-bottom: 100px;
}
.contact__input { /* Contact with me font */
  width: 100%;
  font-size: 1.2rem;
  font: bold;
  /* font-weight: var(--font-semi); */
  font-family: "Ink Free";
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__input:focus{ /* After clicking the input box */
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
  border: 1.5px solid var(--first-color);
}
.contact__input:hover{ /* Hover */
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
  border: 1.5px solid var(--first-color);
}
.submit { /* Submit Button */
  display: block;
  border: none;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  border-radius: .5rem;
  transition: .3s;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
  
}
.submit:hover { /* hover  */
  box-shadow: 10px 10px 36px rgba(0, 0, 0, 0.15);
  
} 
.submit { /* Submit Button Icon  */
  background-image: url("https://api.iconify.design/ion/paper-plane-outline.svg?color=white");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 85% 10px ;
  padding-right: 3rem;
}









/* ===== FOOTER =====*/

.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
  text-shadow: 1px 1px 9px red;
}
.footer__social {
  margin-bottom: var(--mb-4);
}
.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}
.footer__copy {
  font-size: var(--smaller-font-size);
}





















/* ===== MEDIA QUERIES ===== */
/* ===== max-width: 320px ===== */
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
  .home__img {
    width: 200px;
  }
}
/* min-width: 576px */
@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }
  .home__img {
    width: 300px;
    bottom: 25%;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .skills__container {
    grid-template-columns: .7fr;
    justify-content: center;
    column-gap: 1rem;
  }
  .work__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }
  .contact__container {
    justify-items: center;
  }
}
/* ===== min-width: 768px ===== */
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--second-color);
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .home__img {
    width: 100px;
    bottom: 10%;
  }

  .about__container {
    padding-top: 2rem;
  }
  .about__img img {
    width: 300px;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}
/* ===== min-width: 992px ===== */
@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
  .home__img {
    width: 450px;
  }
}























/* ===== NFT CARD ===== */


.explore-nft{
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: max-content;
  /* color:  hsla(0, 0%, 100%, 1); */
  color: var(--second-color);
  font-weight: 600;
  letter-spacing: 0.5px;

  margin-inline: auto;
  margin-block-start: 32px;
  
  text-shadow: 3px 2px 8px gray;


  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
}
.explore-nft:is(:hover, :focus-visible) {

  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  color: black;
}

@media screen and (min-width: 992px) {
  .last-nft{
    height: 55px;
  }
  
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}
.grid-item {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .grid-item {
      width: 50%;
  }
}
@media (min-width: 992px) {
  .grid-item {
      width: 33.33%;
  }
}
.item-style {
  /* background: #20202d; */
  background: var(--second-color);
  border-radius: 10px;
  transition: 0.3s;
}
.item-style:hover { 
  /* box-shadow: rgba(218, 7, 7, 0.25) 0px 0px 5px 5px; */
  box-shadow: 0px 1px 25px var(--first-color);
}
.item-style .thumb {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 10px 10px 0 0;
}
.item-style .thumb img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.5s;
}
.item-style:hover .thumb img {
  transform: scale(1.21);
}

/* i.ri-heart-fill {
  padding: 0 5px;
  color: #ff512f;
  padding-right: 5px;
  font-size: 18px;
} */

.reaction-btn {
  border: none;
  font-size: 14px;
  font-weight: 50;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #fff;
  border-radius: 6px;
  padding: 5px 6px;
  min-width: 7px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.content {
  padding: 15px 20px;
}
.title {
  font-size: 18px;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title a {
  color: #fff;
}
.profile a {
  position: relative;
  z-index: 1;
  display: block;
}
.d-flex-center {
  display: flex;
  align-items: center;
}
.d-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile img.image-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.profile a.author-text {
  padding-left: 7px;
}
/* .profile i.ri-shield-check-fill {
  padding:  0 5px;
  color: #1d9bf0;
} */
.profile {
  margin: 10px 0;
}
/* .product-owner {
  padding: 0 0 15px;
position: relative;
}
.product-owner .bid-owner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
} */
/* .product-owner strong {
  color: #fff;
  font-weight: 500;
}
.product-owner .biding-price {
  color: #fff;
  right: 15px;
  position: absolute;
}
.product-owner .biding-price i {
  color: #ff512f;
  padding-right: 5px;
} */
.btn span {
  display: inline-flex;
  z-index: 1;
}
.btn i {
  padding-right: 8px;
  transition: 0.1s;
}
.btn-cart {
  position: relative;
  overflow:hidden ;
  font-size: 18px;
  padding: 6px 25px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  height: 50px;
  min-height: 50px;
  transition: 0.7s;
}
.btn-cart:hover {
  color: #fff;
  transform: translateY(-2px);
}
.btn-outline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(97.3deg, #dd2476 0%, #ff512f 100%);
  transition: transform 0.7s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: 0;
  border-radius: inherit;
}
.btn-outline:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.7s;
}



.code_p{
  color: 	#aeaeae;
  font-size: 1.5rem;
  font-family: 'Ink Free';
}

.code_h2{
  color: 	#aeaeae;
  font-size: 1.25rem;
  font-family: 'Inkfree';
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */




    /* Avatar */

    :root {
      --bg: #f4f9fc;
      --line: hsl(var(--hue-color), 89%, 60%);
      --fill: #aadcec;
      --text: #0f1b61;
      --subtext: #73bbc5;
      --duo: #105d67;
    }
    
    /* .avatar-wrap {
      perspective: 1000px;
      position: relative;
      width: 100%;
      height: 50vh;
    } */
    .bar-outer {
      position: relative;
      height: 100%;
    }
    .bar {
      backface-visibility: hidden;
      transition: transform 1.5s ease-out;
      position: absolute;
      width: 80vw;
      max-width: 975px;
      height: 240px;
      background-size: 11px;
      top: 35%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.75;
      overflow: hidden;
    }
    .bar:after,
    .bar:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: var(--bg);
      animation: barReveal 0.7s cubic-bezier(0.23, 1, 0.32, 1) 1.5s backwards;
    }
    .is-loading .bar:after,
    .is-loading .bar:before {
      animation-play-state: paused;
    }
    .bar:before {
      transform: translateX(-100%);
    }
    .bar:after {
      left: auto;
      right: 0;
      transform: translateX(100%);
    }
    .avatar {
      width: 60vw;
      height: auto;
      max-width: 465px;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: bottom center;
      backface-visibility: hidden;
      will-change: transform;
    }
    .avwrap {
      position: relative;
      margin-bottom: 500px;
    }
    .beard,
    .face-tilt,
    .head__rotation,
    .head__yaw,
    .neck__shadow {
      transform-origin: 50% 80%;
    }
    .avatar--ready .beard,
    .avatar--ready .ears__left,
    .avatar--ready .ears__right,
    .avatar--ready .face-tilt,
    .avatar--ready .head__rotation,
    .avatar--ready .head__yaw,
    .avatar--ready .mouth {
      will-change: transform;
      backface-visibility: hidden;
      perspective: 1000;
      transition: transform 0.35s ease-out;
    }
    .avatar--ready .neck__shadow {
      will-change: transform;
      backface-visibility: hidden;
      perspective: 1000;
      transition: transform 0.4s ease-in-out;
    }
    .avatar--ready .neck__adamsapple {
      will-change: transform;
      animation: breath 2.5s ease-in-out infinite alternate;
    }
    .avatar--ready .head__y {
      will-change: transform;
      animation: breathHead 2.5s ease-in-out infinite alternate;
    }
    .avatar--ready .nose__breath {
      will-change: transform;
      animation: breathNose 2.5s ease-in-out infinite alternate;
    }
    .avatar--ready .eyes__x,
    .avatar--ready .eyes__y {
      backface-visibility: hidden;
      perspective: 1000;
      transition: all 0.1s ease-out 10ms;
    }
    .avatar--ready.creeper .eyes__x,
    .avatar--ready.creeper .eyes__y {
      backface-visibility: hidden;
      perspective: 1000;
      transition: all 0.3s ease-in-out;
    }
    .avatar--ready .eyebrow {
      transition: all 0.36s ease-in-out;
    }
    .avatar--ready .eyebrow,
    .avatar--ready .mouth path {
      backface-visibility: hidden;
      perspective: 1000;
    }
    .dizzy .mouth svg {
      display: none;
    }
    .dizzy .mouth:before {
      width: 12%;
      background: var(--line);
      bottom: 34%;
      transform-origin: top center;
      animation: breatheMouthUp 2s ease-in-out infinite alternate;
    }
    .dizzy .mouth:after,
    .dizzy .mouth:before {
      content: "";
      position: absolute;
      height: 2%;
      border-radius: 100%;
      left: 50%;
      margin-left: -6%;
    }
    .dizzy .mouth:after {
      transform-origin: bottom center;
      width: 16%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background: var(--bg);
      bottom: 33%;
      width: 12%;
      animation: breatheMouth 2s ease-in-out infinite alternate;
    }
    .dizzy .eyebrows__left {
      animation: dizzyBrowL 2s ease-in-out infinite alternate;
    }
    .dizzy .eyebrows__right {
      animation: dizzyBrowR 2s ease-in-out infinite alternate;
    }
    .dizzy .eyes__left .eye__dot {
      animation: dizzyEyeL 2.5s ease-in infinite alternate;
    }
    .dizzy .eyes__right .eye__dot {
      animation: dizzyEyeR 2.5s ease-in infinite alternate-reverse;
    }
    .dizzy .eyes__x,
    .dizzy .eyes__y {
      transform: none;
    }
    .dizzy .head__yaw {
      animation: dizzyYaw 2.5s ease-in-out infinite alternate;
    }
    .dizzy .head__rotation {
      animation: dizzySway 1.5s ease-in-out infinite alternate;
    }
    .bgmask {
      fill: var(--bg);
    }
    .mask--chin {
      clip-path: url(#clip--chin);
    }
    @media screen and (max-width: 512px) {
      .avatar .svg-stroke {
        stroke-width: 0.45vw;
      }
    }
    @media screen and (min-width: 513px) and (max-width: 1200px) {
      .avatar .svg-stroke {
        stroke-width: 2.5px;
      }
    }
    .mask--eyebrow-l {
      clip-path: url(#clip--eyebrow-l);
    }
    .mask--eyebrow-r {
      clip-path: url(#clip--eyebrow-r);
    }
    .svg-pattern {
      fill: url(#pattern--stubble);
    }
    .layer * {
      backface-visibility: hidden;
    }
    .layer div,
    .layer svg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
    }
    .avatar--intro .avatar__animwrap {
      backface-visibility: hidden;
      transform-origin: center bottom;
      animation: bakedAvatar 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.25s
        backwards;
    }
    .avatar--intro .eyebrows,
    .avatar--intro .hair,
    .avatar--intro .mouth,
    .avatar--intro .nose,
    .avatar--intro .shading {
      backface-visibility: hidden;
      animation: bakedSecondary 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) 1.25s
        backwards;
    }
    .avatar--intro .head__y {
      transform-origin: center 75%;
      animation: headIn 0.975s cubic-bezier(0.215, 0.61, 0.355, 1) 1.25s backwards;
    }
    .avatar--intro .eyes__glasses {
      backface-visibility: hidden;
      transform-origin: center bottom;
      animation: bakedGlasses 1.5s ease-out 1.25s backwards;
    }
    .avatar__animwrap {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      backface-visibility: hidden;
      transform-origin: bottom center;
    }
    .is-loading .avatar__animwrap,
    .is-loading .eyebrows,
    .is-loading .hair,
    .is-loading .head__y,
    .is-loading .mouth,
    .is-loading .nose,
    .is-loading .shading {
      animation-play-state: paused !important;
    }
    @keyframes barReveal {
      0% {
        transform: translateX(0);
      }
    }
    @keyframes avatarIn {
      0% {
        opacity: 0;
      }
    }
    @keyframes headIn {
      5% {
        transform: scale(1.075, 0.85);
      }
      20% {
        transform: scale(0.8, 1.05);
      }
      50% {
        transform: scale(1.025, 0.9);
      }
      0%,
      to {
        transform: scale(1);
      }
    }
    @keyframes breatheMouthUp {
      0% {
        transform: translateY(2px) scale(0.9);
      }
      to {
        transform: translateY(0) scale(0.85, 1.25);
      }
    }
    @keyframes breatheMouth {
      to {
        transform: scaleY(0.5);
      }
    }
    @keyframes breath {
      to {
        transform: none;
      }
      0% {
        transform: translateY(2px);
      }
    }
    @keyframes breathHead {
      to {
        transform: translateY(4px);
      }
      0% {
        transform: translateY(0);
      }
    }
    @keyframes breathNose {
      to {
        transform: none;
      }
      0% {
        transform: translateX(-24px) scaleX(1.075);
      }
    }
    @keyframes dizzySway {
      0% {
        transform: rotate(-2deg);
      }
      to {
        transform: rotate(2deg);
      }
    }
    @keyframes dizzyEyeL {
      0% {
        transform: translate(68px, 85px) scale(0.75);
      }
    }
    @keyframes dizzyEyeR {
      0% {
        transform: translate(108px, 85px) scale(0.75);
      }
    }
    @keyframes dizzyYaw {
      0% {
        transform: translateY(-2px);
      }
      to {
        transform: translateY(5px);
      }
    }
    @keyframes dizzyBrowL {
      0% {
        transform: translateY(-5px);
      }
      to {
        transform: translateY(5px);
      }
    }
    @keyframes dizzyBrowR {
      0% {
        transform: translateY(10px);
      }
      to {
        transform: translateY(0);
      }
    }
    @keyframes bakedAvatar {
      0% {
        opacity: 0;
        transform: scale(1.2337282615, 0.9459515515);
      }
      1% {
        transform: scale(1.2918607173, 1.0306209681);
      }
      3% {
        transform: scale(1.3225012657, 1.1003424939);
      }
      4% {
        transform: scale(1.3279217986, 1.1529759485);
      }
      6% {
        transform: scale(1.2780508182, 1.2053248387);
      }
      7% {
        transform: scale(1.2319227548, 1.2071001777);
      }
      9% {
        transform: scale(1.1212535786, 1.1731169371);
      }
      10% {
        transform: scale(1.065401853, 1.1432184169);
      }
      12% {
        transform: scale(1.0139650316, 1.1087997909);
      }
      14% {
        transform: scale(0.9695373498, 1.0727445662);
      }
      15% {
        transform: scale(0.933868851, 1.0375976325);
      }
      17% {
        transform: scale(0.9078836758, 1.0054553618);
      }
      18% {
        transform: scale(0.8917480812, 0.9779011157);
      }
      20% {
        transform: scale(0.8849762281, 0.9559832879);
      }
      21% {
        transform: scale(0.8865612095, 0.9402307497);
      }
      23% {
        transform: scale(0.8951191068, 0.9306989734);
      }
      25% {
        transform: scale(0.909034912, 0.9270391878);
      }
      26% {
        transform: scale(0.9266007455, 0.9285826319);
      }
      28% {
        transform: scale(0.94613876, 0.9344322277);
      }
      29% {
        transform: scale(0.9661032636, 0.9435547022);
      }
      31% {
        transform: scale(0.9851587564, 0.9548672291);
      }
      32% {
        transform: scale(1.0022326142, 0.9673139193);
      }
      34% {
        transform: scale(1.0165429605, 0.9799288545);
      }
      35% {
        transform: scale(1.0276037641, 0.9918837191);
      }
      37% {
        transform: scale(1.0352103339, 1.0025193646);
      }
      39% {
        transform: scale(1.0394091434, 1.0113617679);
      }
      40% {
        opacity: 1;
        transform: scale(1.0404563112, 1.0181237609);
      }
      42% {
        transform: scale(1.0387691198, 1.0226946098);
      }
      43% {
        transform: scale(1.034874726, 1.0251199696);
      }
      45% {
        transform: scale(1.0293597564, 1.0255749681);
      }
      46% {
        transform: scale(1.0228238592, 1.0243331865);
      }
      48% {
        transform: scale(1.0158395586, 1.0217341395);
      }
      50% {
        transform: scale(1.0089199995, 1.0181515542);
      }
      51% {
        transform: scale(1.0024954209, 1.0139643429);
      }
      53% {
        transform: scale(0.9968985163, 1.009531703);
      }
      54% {
        transform: scale(0.9923582464, 1.0051732943);
      }
      56% {
        transform: scale(0.9890012015, 1.0011549741);
      }
      57% {
        transform: scale(0.9868592659, 0.9976801467);
      }
      59% {
        transform: scale(0.9858821306, 0.994886412);
      }
      60% {
        transform: scale(0.9859531139, 0.9928469165);
      }
      62% {
        transform: scale(0.9869067741, 0.9915755959);
      }
      64% {
        transform: scale(0.9885469209, 0.9910353795);
      }
      65% {
        transform: scaleX(0.9906638165);
      }
      67% {
        transform: scaleX(0.9930495981);
      }
      68% {
        transform: scaleX(0.9955112128);
      }
      70% {
        transform: scaleX(0.9978804249);
      }
      71% {
        transform: scaleX(1.000020707);
      }
      73% {
        transform: scaleX(1.0018310571);
      }
      75% {
        transform: scaleX(1.0032469692);
      }
      76% {
        transform: scaleX(1.0042389329);
      }
      78% {
        transform: scaleX(1.004808938);
      }
      79% {
        transform: scaleX(1.0049855108);
      }
      81% {
        transform: scaleX(1.0048178258);
      }
      82% {
        transform: scaleX(1.0043694066);
      }
      84% {
        transform: scaleX(1.0037118824);
      }
      85% {
        transform: scaleX(1.0029191863);
      }
      87% {
        transform: scaleX(1.0020624986);
      }
      89% {
        transform: scaleX(1.0012061418);
      }
      90% {
        transform: scaleX(1.000404541);
      }
      92% {
        transform: scaleX(0.9997002821);
      }
      93% {
        transform: scaleX(0.9991232199);
      }
      95% {
        transform: scaleX(0.9986905339);
      }
      96% {
        transform: scaleX(0.9984075818);
      }
      to {
        transform: scale(1);
      }
    }
    @keyframes bakedGlasses {
      0% {
        transform: translate(1.8252168953px, 79.7310864062px);
      }
      1% {
        transform: translate(3.2774357765px, 75.4413983327px);
      }
      3% {
        transform: translate(4.3396984375px, 67.9666001762px);
      }
      4% {
        transform: translate(5.017755689px, 58.1765685246px);
      }
      6% {
        transform: translate(5.3336033642px, 35.0111906855px);
      }
      7% {
        transform: translate(5.059784667px, 23.1422908208px);
      }
      9% {
        transform: translate(3.9229540015px, 1.8073616254px);
      }
      11% {
        transform: translate(2.3804793012px, -13.8144413047px);
      }
      12% {
        transform: translate(1.58649247px, -19.0126499763px);
      }
      14% {
        transform: translate(0.8335809956px, -22.4440411613px);
      }
      15% {
        transform: translate(0.1537990991px, -24.2050590992px);
      }
      17% {
        transform: translate(-0.429446493px, -24.4624457122px);
      }
      19% {
        transform: translate(-0.9012614032px, -23.4339517343px);
      }
      20% {
        transform: translate(-1.2547155021px, -21.369410516px);
      }
      22% {
        transform: translate(-1.4899731836px, -18.5330831103px);
      }
      23% {
        transform: translate(-1.61319571px, -15.1879789668px);
      }
      25% {
        transform: translate(-1.6353065485px, -11.5826477653px);
      }
      26% {
        transform: translate(-1.5707036404px, -7.940735931px);
      }
      28% {
        transform: translate(-1.4359923625px, -4.4534154419px);
      }
      30% {
        transform: translate(-1.2488005569px, -1.2746296768px);
      }
      31% {
        transform: translate(-1.0267234054px, 1.4810339968px);
      }
      33% {
        transform: translate(-0.7864319692px, 3.7381398059px);
      }
      34% {
        transform: translate(-0.5429656858px, 5.4582357679px);
      }
      36% {
        transform: translate(-0.3092166255px, 6.6361344008px);
      }
      38% {
        transform: translate(-0.0956023431px, 7.2950696601px);
      }
      39% {
        transform: translate(0.0900849648px, 7.4811493971px);
      }
      41% {
        transform: translate(0.2426723798px, 7.2574941498px);
      }
      42% {
        transform: translate(0.359467663px, 6.6984090572px);
      }
      44% {
        transform: translate(0.4400155464px, 5.8838807491px);
      }
      46% {
        transform: translate(0.4857774684px, 4.8946297013px);
      }
      47% {
        transform: translate(0.4997628263px, 3.8078848536px);
      }
      49% {
        transform: translate(0.4861379768px, 2.6939848771px);
      }
      50% {
        transform: translate(0.449836323px, 1.6138523362px);
      }
      52% {
        transform: translate(0.3961891863px, 0.6173354141px);
      }
      53% {
        transform: translate(0.3305930804px, -0.257631515px);
      }
      55% {
        transform: translate(0.258224749px, -0.9851314195px);
      }
      57% {
        transform: translate(0.1838111536px, -1.5507399648px);
      }
      58% {
        transform: translate(0.1114576939px, -1.9504958671px);
      }
      60% {
        transform: translate(0.0445344705px, -2.189496245px);
      }
      61% {
        transform: translate(-0.0143825251px, -2.2802461116px);
      }
      63% {
        transform: translate(-0.0635207317px, -2.2408838509px);
      }
      65% {
        transform: translate(-0.1018779729px, -2.0933921298px);
      }
      66% {
        transform: translate(-0.1291552348px, -1.8618876376px);
      }
      68% {
        transform: translate(-0.1456639387px, -1.5710646863px);
      }
      69% {
        transform: translate(-0.152216349px, -1.2448483488px);
      }
      71% {
        transform: translate(-0.15000729px, -0.9052935827px);
      }
      73% {
        transform: translate(-0.140494532px, -0.5717486641px);
      }
      74% {
        transform: translate(-0.1252841457px, -0.2602849714px);
      }
      76% {
        transform: translate(-0.1060259031px, 0.0166187238px);
      }
      77% {
        transform: translate(-0.0843225117px, 0.250160448px);
      }
      79% {
        transform: translate(-0.061655183px, 0.4350989584px);
      }
      80% {
        transform: translate(-0.0393268188px, 0.5694740768px);
      }
      82% {
        transform: translate(-0.0184230056px, 0.6542027925px);
      }
      84% {
        transform: translate(0.0002099298px, 0.6925907867px);
      }
      85% {
        transform: translate(0.0159713052px, 0.6897972537px);
      }
      87% {
        transform: translate(0.0284989718px, 0.6522874542px);
      }
      88% {
        transform: translate(0.0376511423px, 0.5873027802px);
      }
      90% {
        transform: translate(0.0434797803px, 0.5023726398px);
      }
      92% {
        transform: translate(0.0461982053px, 0.4048866123px);
      }
      93% {
        transform: translate(0.0461454495px, 0.3017394183px);
      }
      95% {
        transform: translate(0.0437496824px, 0.1990556133px);
      }
      96% {
        transform: translate(0.0394927097px, 0.1019957906px);
      }
      98% {
        transform: translate(0.0338771901px, 0.0146416546px);
      }
      to {
        transform: translate(0);
      }
    }
    @keyframes bakedSecondary {
      0% {
        transform: translate(1.7959659753px, 31.0190756201px);
      }
      2% {
        transform: translate(4.1475565303px, 28.1896658639px);
      }
      5% {
        transform: translate(4.7346136551px, 25.0498718545px);
      }
      7% {
        transform: translate(4.9274862799px, 17.0267516236px);
      }
      10% {
        transform: translate(3.9455562973px, 7.0095785006px);
      }
      12% {
        transform: translate(2.6380651848px, 0.1856833204px);
      }
      15% {
        transform: translate(1.2872407443px, -4.4216480003px);
      }
      17% {
        transform: translate(0.1503062633px, -6.7146617386px);
      }
      20% {
        transform: translate(-0.638792475px, -7.0440477499px);
      }
      22% {
        transform: translate(-1.0528295751px, -5.998010865px);
      }
      25% {
        transform: translate(-1.1410079869px, -4.218173871px);
      }
      27% {
        transform: translate(-1.090744538px, -3.2342576839px);
      }
      30% {
        transform: translate(-0.9949108007px, -2.2665736839px);
      }
      32% {
        transform: translate(-0.7180572499px, -0.5508241259px);
      }
      35% {
        transform: translate(-0.3424919458px, 0.8833091539px);
      }
      37% {
        transform: translate(-0.1987099315px, 1.2516638676px);
      }
      40% {
        transform: translate(-0.0710324798px, 1.4904886752px);
      }
      42% {
        transform: translate(0.0370591444px, 1.6112932512px);
      }
      45% {
        transform: translate(0.1236967049px, 1.6294174036px);
      }
      47% {
        transform: translate(0.1884262261px, 1.5625676653px);
      }
      50% {
        transform: translate(0.2319743572px, 1.4295005375px);
      }
      52% {
        transform: translate(0.2628321448px, 1.0384149282px);
      }
      55% {
        transform: translate(0.2261366623px, 0.5023708992px);
      }
      57% {
        transform: translate(0.196199522px, 0.2960350152px);
      }
      60% {
        transform: translate(0.1618536151px, 0.1122649899px);
      }
      62% {
        transform: translate(0.1256200912px, -0.0438171866px);
      }
      65% {
        transform: translate(0.0896576678px, -0.1694061848px);
      }
      67% {
        transform: translate(0.0557201126px, -0.2637339844px);
      }
      70% {
        transform: translate(0.0251417355px, -0.327739029px);
      }
      72% {
        transform: translate(-0.0011534602px, -0.3637098105px);
      }
      75% {
        transform: translate(-0.0390673802px, -0.365311407px);
      }
      77% {
        transform: translate(-0.0574544456px, -0.300686443px);
      }
      80% {
        transform: translate(-0.0594462276px, -0.2032932835px);
      }
      82% {
        transform: translate(-0.055841257px, -0.1514719342px);
      }
      85% {
        transform: translate(-0.050090331px, -0.101451597px);
      }
      87% {
        transform: translate(-0.0428708077px, -0.0554134487px);
      }
      90% {
        transform: translate(-0.034810871px, -0.0149435954px);
      }
      92% {
        transform: translate(-0.0264669528px, 0.0189385625px);
      }
      95% {
        transform: translate(-0.0183088451px, 0.0457286972px);
      }
      97% {
        transform: translate(-0.010711855px, 0.0653694583px);
      }
      to {
        transform: translate(0);
      }
    }
    .avatar-bg {
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100%;
      z-index: 0;
      overflow: hidden;
    }
    .avatar-bg .bar {
      left: 65%;
      height: 240px;
      max-width: 840px;
    }
    .avatar-bg .avatar-wrap {
      height: 100%;
    }
    .avatar-bg .avatar {
      max-width: 575px;
      top: 45%;
      left: 70%;
    }
    @media screen and (min-width: 1001px) and (max-height: 600px) {
      .avatar-bg {
        min-height: 600px;
        height: 600px;
      }
    }
    @media screen and (max-width: 512px) {
      .avatar-bg {
        margin-top: 1px !important;
      }
    }
    
    @media screen and (max-width: 967px){ 
      .avatar-bg .avatar {
        margin-top: 1px;
        width: 75%;
        height: 45vh;
        min-height: 300px;
        
        max-width: 400px;
      }
      .avatar-bg .bar {
        top: 18rem;
        height: 18vw;
        max-height: 145px;
        width: 30rem;
      }
      .avatar-bg .avatar {
        top: 21rem;
      }
    }
    @media screen and (max-width: 767px) {
      .avatar-bg {
        position: absolute;
        margin-top: 100px;
        left: 0;
        height: 45vh;
        min-height: 300px;
      }
      .avatar-bg .bar {
        visibility: hidden;
      }
      .avatar-bg .avatar {
        top: 3rem;
        transform: translate(-50%);
        width: 75vw;
        height: 45vh;
        min-height: 300px;
        left: 70%;
        max-width: 400px;
      }
    }
    @media screen and (max-width: 500px) {
      .avatar-bg .avatar {
        top: 1px;
        left: 95%;
      }
      .avatar-bg .avatar {
        top: 1px;
        /* transform: translate(-50%); */
        width: 75vw;
        height: 45vh;
        min-height: 300px;
        left: 80%;
        max-width: 400px;
      }
    }
    @media screen and (min-width: 968px) and (max-width: 1200px) {
      .avatar-bg {
        left: 0;
      }
      .avatar-bg .bar {
        left: 60%;
        max-width: 65vw;
        height: 200px;
        max-height: 240px;
      }
      .avatar-bg .avatar {
        top: 20rem;
        max-width: 485px;
        width: 50vw;
        left: 70%;
      }
    }
    .u-vhide {
      overflow: hidden;
      position: absolute;
      clip: rect(0, 0, 0, 0);
      left: -900px;
    }
    
    @media screen and (min-width: 968px) {
      .avatar-bg {
        top: 1%;
      }
    }
    @media screen and (min-width: 1920px) {
      .avatar-bg {
        top: 1px;
      }
    }
    @media screen and (max-width: 512px) {
      .u-hide\:s {
        display: none;
      }
    }
    @media screen and (min-width: 513px) and (max-width: 1000px) {
      .u-hide\:m {
        display: none;
      }
    }
    @media screen and (min-width: 1001px) {
      .u-hide\:l {
        display: none;
      }
    }
    
    body {
      
      min-height: calc(100vh - 40px);
      position: relative;
    }
   

    .svg-stroke {
      fill: none;
      stroke: hsl(var(--hue-color), 89%, 60%);
      stroke-width: 2.5px;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      vector-effect: non-scaling-stroke;
    }
    
    @media (min-width: 512px) {
      .svg-stroke {
        stroke-width: 3px;
      }
    }
    
    .svg-fill-stroke {
      fill: hsl(var(--hue-color), 89%, 60%);
    }
    .svg-fill {
      fill: var(--fill);
    }
    .svg-blank {
      fill: none;
    }
    
    .stroke-path,
    .stroke-poly {
      fill: none;
      stroke:hsl(var(--hue-color), 89%, 60%);
      stroke-width: 2.5px;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      vector-effect: non-scaling-stroke;
    }
    @media (min-width: 512px) {
      .stroke-path,
      .stroke-poly {
        stroke-width: 3px;
      }
    }
    
    .svg-stroke-thin {
      fill: none;
      stroke: hsl(var(--hue-color), 89%, 60%);
      stroke-width: 2.5px;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      vector-effect: non-scaling-stroke;
    }
    .svg-stroke-dashed {
      stroke-dasharray: 6;
    }
    .svg-bg {
      fill: var(--bg);
    }
    .filled-path,
    .filled-poly,
    .svg-fill {
      fill: var(--fill);
    } 